body{
    margin-top: 150px;
}
.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

.counter-wrapper {
    margin-left: 200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    max-width: 100%;
    padding: 20px;
}

.counter-box {
    background: #f6f6f6;
    padding: 35px 0px 37px;
    text-align: center;
    border-radius: 20px;
    overflow: hidden; 
    position: relative; 
    transition: transform 0.5s ease; 
    width: 220px;
}

.counter { 
	font-size: 2.5rem;
	font-weight: 700;
	color: #666;
	line-height: 28px
}

.counter-box p {
	margin: 5px 0 0;
	padding: 0;
	color: #909090;
	font-size: 15px;
	font-weight: 500
}

.counter-box.colored {
    background: #007BFF;
    color: #fff;
}

.counter-box p,
.counter-box i,
.counter-box .counter {
    color: inherit; /* Ensure text color matches background */
}
